@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Libre+Baskerville:wght@400;700&family=Yuji+Boku&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* ---------------------------------------------------------------- */
/* Global Styles */

/* Fonts */

p{
    font-family: 'Inter', sans-serif;;
    font-size: 24px;
}

/* Spacing */

.full-height{
    height: 100vh;
}

/* ---------------------------------------------------------------- */
/* Components */






/* Bootstrap Component Overrides */


/* Navigation */

.nav-link {
    font-family: 'Libre Baskervihttp://127.0.0.1:5501/assets/slide1-img.pnglle', serif;
    color: #F2F2F2;
}

.nav-link:hover {
    color: #8C0325;
}

.nav-link.active {
    border-bottom: 2px solid #F2F2F2;
    color: #F2F2F2;
}

/* Section 2 */


.text-box{
    width: 100%;
    height: 363px;
    background: #8C0325;
    padding-top: 35px;
    padding-left: 59px;
    padding-right: 385px;
   
    color: white;
}

.text-box h1{
    font-size: 48px;
    padding-bottom: 30px;
    
}

.text-box h1{
    font-family: 'Libre Baskerville', serif;  
}


section{
    
    width: 1440px;
    height: 1511px;
    background-image: url(../assets/homebackdrop2.png);
}



